.vStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(90deg, rgba(106,11,130) 0%, rgba(6,224,224) 100%);
}

.hStack{
    display: flex;
    flex-direction: row;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

button{
    width: 60px;
    height: 60px;
    background-color: #a8a8a8;
    color: black;
    font-size: 20px;
}

.view-of-games{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.game-view{
    width: 350px;
    height: 300px;
    border: black 1px solid;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.row-of-game-views{
    margin-top:  10px;
    display: flex;
    flex-direction: row;
}