.vStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hStack{
    display: flex;
    flex-direction: row;
}

html,body{
    height: 100%;
}

body{
    background: linear-gradient(90deg, rgba(106,11,130) 0%, rgba(6,224,224) 100%);
}

button{
    width: 100px;
    height: 100px;
    background-color: #a8a8a8;
    color: black;
    font-size: 24px;
}

.main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    
    
    
}

.emoji-selection {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.turn-text {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.main1 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 50%;
}